<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>新增书籍</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 引入 Bootstrap -->
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="page-header">
                        <h1>
                            <small>新增书籍</small>
                        </h1>
                    </div>
                </div>
            </div>
            <form method="post" th:action="@{/AfterLogIn/books/addBooks}">
                <div class="form-group">
                    <label for="bkname">书籍名称</label>
                    <input type="text" name="bookName" class="form-control" id="bkname" required>
                </div>
                <div class="form-group">
                    <label for="bkcount">书籍数量</label>
                    <input type="text" name="bookCounts" class="form-control" id="bkcount" required>
                </div>
                <div class="form-group">
                    <label for="bkdetail">书籍描述</label>
                    <input type="text" name="detail" class="form-control" id="bkdetail" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" id="bksubmit">
                </div>
            </form>
        </div>
    </body>
</html>
